.family-tree-box {
    padding: 10px;
    border-radius: 10px;
    color: black;
    transition: height 0.3s ease;
    width: 100%;
}

.family-tree-box>h2 {
    margin-bottom: 10px;
    color: #6a5524;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

.family-tree-box .error-404 h2 {
    color: #f06262;
}

.family-tree-box .error-404 p {
    font-weight: 500;
}

.family-tree {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    border-radius: 12px;
    max-width: 800px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.family-tree-member {
    position: relative;
    background: transparent;
    opacity: 0.9;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 12px 20px;
    margin: 10px 2px;
    min-height: 70px;
    min-width: 200px;
    text-align: center;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.166);
    transition: transform 0.2s ease;
}

.family-tree-member:hover {
    transform: scale(1.05);
}

.family-tree-member.father {
    border-color: #4a90e2;
    background-color: #e6f0ff;
}

.family-tree-member.mother {
    border-color: #f06292;
    background-color: #ffe6ef;
}

.family-tree-member-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: #101010;
}

.relationship-section {
    margin-top: 1rem;
    width: 100%;
}

.relationship-section h4 {
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #fef6f6;
    padding-bottom: 4px;
}

.relationship-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.member-name {
    font-weight: bold;
    color: black;
}

.member-role {
    font-size: 0.85rem;
    color: gray;
    margin-top: -4px;
}

.loading-spinner {
    color: #4a90e2;
    font-size: 1.5rem;
    padding: 1rem;
}

.edit-tree-btn-container {
    text-align: end;

}

.edit-tree-btn {
    position: absolute;
    background: transparent;
    transition: all 0.2s ease;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 8px;
}

.edit-tree-btn img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.delete-tree-btn {
    position: absolute;
    background: transparent;
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}