.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* 2 parts tree, 1 part form */
    gap: 20px;
    min-width: 1200px;
    margin: 18px auto;
    padding: 10px;
    padding-top: 50px;
    align-items: start;
    /* align items at top */
    height: 100%;
    transition: height 0.3s cubic-bezier(0.84, 0.29, 1, 1);
}