@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Fascinate&display=swap');

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    max-width: 90%;
    margin: 18px auto;
    padding: 10px;
    padding-top: 50px;
    align-items: start;
    height: 100%;
    transition: height 0.3s cubic-bezier(0.84, 0.29, 1, 1);
}

.header {
    text-align: center;
}

.header-title img {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-top: -20px;
    margin-right: 5px;
}

.header p {
    color: #6a5524;
    font-family: "Fascinate", system-ui;
    font-size: 40px;
    display: inline-block;
}

.header span {
    font-family: "Carattere", cursive;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 95%;

    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 50px;
        gap: 10px;
        width: 100%;
    }

    .header p {
        font-size: 30px;
    }

    .header-title img {
        width: 40px;
        margin-top: -15px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 5px;
        grid-template-columns:auto;
        padding-top: 20px;
    }

    .header p {
        font-size: 24px;
    }

    .header-title img {
        width: 30px;
        margin-top: -10px;
    }
}